

.menu {
  	height: 300px;
/*	grid-template-rows: 1fr min-content 3fr;  Seems to not be needed with the height setting
	grid-template-columns: 1fr; */
	grid-template-areas: "side-image"
						"side-tit"
						"side-cont";
	padding: 0.2em;
}

.side-img {
	grid-area: side-image;
	max-width: 100%;
	background: yellow;

}

.side-title {
	grid-area: side-tit;
	background: #65a82f;
	color: white;
	text-align: center;
	padding: 17px;
	margin-top:0.1em;
	margin-bottom:0.1em;
}
.side-content {
	grid-area: side-cont;
	display: grid;
	text-align: center;
	align-items: center;
}

.side-content a {
	background: white;
	display: block;
	padding: 18px;
	color: black;
	text-decoration: none;
} 

.side-content a:hover {
  background: #65a82f;
  color: white;
}


main {
	grid-area: main;
	padding: 20px;
	display:grid;
	grid-template-rows: min-content;
	grid-template-columns: auto;
}

.main-content {
	display:grid;
	grid-template-rows: 10em;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.main-card {
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	padding: 0.2em;
}

.main-card h4 {
	margin: 0;
	padding-right: 10em;
}

.main-card-title {
	padding: 1em;
	display: flex;
	background: #f7f4f4;
}

.main-card-content {
	margin-bottom: 0;
	padding-left: 1em;
	padding-bottom: 1em;
}

.main-buttom {
	padding-top: 1.5em;
}

footer {
	grid-area: footer;
	background: #65a82f;
	display: grid;
	text-align: center;
	padding-left: 13em;
	padding-right: 13em;
}

.foot-container {
	display:grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	color: white;
}

.foot-title {
	margin: 0;
	padding: 12px;
}

.foot-content {
	text-align: center;
	margin: 0;
	padding-top: 12px;
	padding-left: 80px;
	padding-right: 80px;
}

